<div id="content">
    <h1 class="Welcome">Welcome to CSE Motors</h1>
    <div id="hero">
            <div class="car-pic"><picture>
                <source srcset="/images/vehicles/delorean-tn.jpg" media="(max-width:700px)">
                <source srcset="/images/vehicles/delorean.jpg" media="(max-width:999px)">
                <img src="/images/vehicles/delorean.jpg" alt="dmc delorean" max-width="100" height="120"
                    loading="lazy">
            </picture></div>
            <div class="car-details"> <h4>DMC Delorean</h4>
                <p>3 Cup holders</p>
                <p>Superman doors</p>
                <p>Fuzzy dice</p>
                <button>Own Today</button></div>
    </div>

    <div id="lay-out">
        <div class="car-parts">
            <h2>Delorean Upgrades</h2>
            <div class="car-sections">
                <div id="flux-wrap" >
                    <div id="flux-cap">
                        <div class="flux-cap"><img src="/images/upgrades/flux-cap.png" alt="flux cap"></div>
                    </div>
                    <p>Flux Capacitor</p>
                </div>
                
                <div id="flame-decals">
                    <div class="flame-decals"><img src="/images/upgrades/flame.jpg" alt="flame Decals"></div>
                    <p>Flame Decals</p>
                
                </div>
                <div id="bumper-sticker">
                    <div class="bumper-sticker"> <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper sticker"></div>
                    <p>Bumper Stickers</p>
                </div>
                <div id="hub-cap">
                    <div class="hub-cap"> <img src="/images/upgrades/hub-cap.jpg" alt="hub caps"></div>
                    <p>Hub Caps</p>
                    
                </div>
                
            </div>
        </div>
        <div id="car-reviews">
            <h2>DMC Delorean Reviews</h2>
            <ul><br>
                <li>"So fast it's almost like traveling in time." (4/5)</li><br>
                <li>"Coolest ride on the road." (4/5)</li><br>
                <li>"I'm feeling McFly!" (5/5)</li><br>
                <li>"The most futuristic ride of our day." (4.5/5)</li><br>
                <li>"80's livin and I love it!" (5/5)</li>
            </ul>
        </div>

    </div>

</div>
